---

---

<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
    .hamburger {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 10px;
    }

    .hamburger .line {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color: azure;
    }
    @media screen and (max-width: 730px) {
        .hamburger {
            display: block;
        }
    }
</style>
