---
import './home.css'
import Timelime from "./Timelime.astro";
import Proyects from "./Proyects.astro";
import TranslateIcon from "./TranslateIcon.astro";
const { TX } = Astro.props;
---

<div>
    <section class="intro">
        <div class="intro-nav">
            <div class="size space"></div>
            <header class="size">
                <nav class="nav">
                    <a>{TX.nav["experience"]}</a>
                    <a href="#projects">{TX.nav["projects"]}</a>
                    <a>{TX.nav["about_me"]}</a>
                    <a>{TX.nav["contact"]}</a>
                    <TranslateIcon lang={TX.nav["lang"]} />
                </nav>
            </header>
        </div>
        <div class="intro-container">
            <div class="intro-person">
                <h1 class="name">Eric Chavarria.</h1>
            </div>
            <div class="intro-text">
                <h3 class="experience">{TX.intro["based"]}</h3>
                <span>{TX.intro["slogan"]}</span>
            </div>
        </div>
    </section>
    <Timelime data={TX.work_experience} />
    <Proyects data={TX.Proyects} />
</div>


