---
import TranslateIcon from "./TranslateIcon.astro";
const { data} = Astro.props;
---

<nav class='nav'>
    <a class='element' href={data.direction["home"]}>{data.nav["home"]}</a>
    <a class='element' href="#experience">{data.nav["experience"]}</a>
    <a class='element' href="#projects">{data.nav["projects"]}</a>
    <a class='element' href="#about">{data.nav["about_me"]}</a>
    <TranslateIcon  class='element' lang={data.nav["lang"]} />
</nav>

<style>
    .nav {
        display: flex;
        justify-content: space-between;
    }
    .expanded {
        display: unset;
    }
    .element {
        width: auto;
    }

    .expanded :hover,
    .expanded :focus {
        border-bottom: 1px solid white;
    }

    @media screen and (max-width: 1000px) {
        .nav {
            justify-content: space-around;
        }
    }
    @media screen and (max-width: 730px) {
        .nav {
            display: none;
        }
        .expanded {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            height: 300px;
            align-items: center;
            justify-content: space-evenly;
        }
    }
</style>
