---
import "../../styles/normalize.css";
import Timelime from "../../components/Timelime.astro";
import TranslateIcon from "../../components/TranslateIcon.astro";
import { INFO } from "../../../public/content.js";

const TX = INFO.spanish;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body class="back-setting">
		<section class="intro">
			<div class="intro-nav">
				<div class="size"></div>
				<header class="size">
					<nav class="nav">
						<a>{TX.nav["experience"]}</a>
						<a>{TX.nav["projects"]}</a>
						<a>{TX.nav["about_me"]}</a>
						<a href="">{TX.nav["contact"]}</a>
						<TranslateIcon lang={TX.nav["lang"]} />
					</nav>
				</header>
			</div>
			<div class="intro-container">
				<div class="intro-person">
					<h1 class="name">Eric Chavarria.</h1>
				</div>
				<div class="intro-text">
					<h3 class="experience">{TX.intro['based']}</h3>
					<span>{TX.intro["slogan"]}</span>
				</div>
			</div>
		</section>
		<Timelime />
	</body>
</html>
<style>
	.back-setting {
		font-family: Helvetica, sans-serif;
		height: 100%;
		background-image: linear-gradient(
			to left bottom,
			#051937,
			#004d7a,
			#008793,
			#00bf72,
			#a8eb12
		);
		max-width: 1200px;
		margin: 0 auto;
		color: azure;
	}
	.intro {
		height: 100vh;
		margin-top: 50px;
	}
	.intro-nav {
		display: flex;
		font-size: 20px;
	}
	.nav {
		display: flex;
		justify-content: space-between;
	}
	.size {
		flex: 1;
	}
	.intro-container {
		display: flex;
		height: 100%;
	}
	.intro-person {
		flex: 65;
		background-image: url("../../public/EricChavarria.png");
		background-repeat: no-repeat;
		background-position: right;
		height: 100%;
		font-size: 80px;
	}
	.name {
		width: 200px;
		margin-top: 180px;
		font-size: 75px;
	}

	.name:after {
		content: "";
		display: block;
		width: 55px;
		height: 7px;
		margin-left: 5px;
		background-color: #051937;
	}
	.intro-text {
		margin-top: 200px;
		font-size: 30px;
		flex: 35;
	}
	.experience {
		margin-bottom: 8px;
	}
</style>
../../public/content.js
